# Visual Studio files
.vs/
bin/
obj/

# NuGet packages
*.nupkg
*.snupkg

# User-specific files
*.suo
*.user
*.sln.docstates
*.csproj.user

# Compiled binaries
*.dll
*.exe

# Generalized files handled on remote
README.md

# Things you don't want others to know about
appsettings.*
launchSettings.*